#----------------------------
# General settings
#----------------------------
data_dir: data
output_dir: output


#----------------------------
# Census settings
#----------------------------
CensusKey: CENSUS_KEY # Environment variable name for Census API key

census_year: 2020
county_ids: [53033,53035,53053,53061]
state_id: 53

census_variables:
  total_population: # name variable will be changed to
    - P1_001N # variable code from census api
  housing_units:
    - H1_001N
  households:
    - H1_002N
  group_quarters:
    - P5_001N


#----------------------------
# Elmer settings
#----------------------------
# issues with pulling all columns from ElmerGeo, so columns need to be specified
ElmerGeo: # database
 - name: control_areas # name the table will be saved as in h5
   sql_table: CONTROL18_DASHBOARD # table in elmer
   columns: # columns to pull from elmer
    - control_id
    - control_na
    - county_id
   id_col: control_id

 - name: blocks
   sql_table: BLOCK2020
   columns:
      - geoid20
   id_col: geoid20

# pull all columns for Elmer instead of specifying columns
Elmer: # database
 - name: ofm_estimates_2020 # name the table will be saved as in h5
   sql_table: ofm.v_estimates_2020 # table in elmer
   id_col: block_geoid

 - name: ofm_estimates_2019
   sql_table: ofm.v_estimates_2019
   id_col: block_geoid

#----------------------------
# tables to be read in from data folder
#----------------------------
data_tables:
 - name: control_target_lookup
   file: control_target_lookup.csv

targets_tables:
 - name: king_targets
   file: King Growth Targets 2021.csv
   unit_chg_col: 2019-2044 Housing Target
   emp_chg_col: 2019-2044 Job Target
   unit_chg_start: 2019
   unit_chg_horizon: 2044
   emp_chg_start: 2019
   emp_chg_horizon: 2044

 - name: kitsap_targets
   file: Kitsap Growth Targets 2021.csv
   pop_chg_col: 2020-2044 Population Growth
   emp_chg_col: 2020-2044 Employment Growth
   pop_chg_start: 2020
   pop_chg_horizon: 2044
   emp_chg_start: 2020
   emp_chg_horizon: 2044

 - name: pierce_targets
   file: Pierce Growth Targets 2021.csv
   pop_chg_col: 2020-2044 Population Growth
   emp_chg_col: 2020-2044 Employment Growth
   pop_chg_start: 2020
   pop_chg_horizon: 2044
   emp_chg_start: 2020
   emp_chg_horizon: 2044

 - name: snohomish_targets
   file: Snohomish Growth Targets 2021.csv
   pop_chg_col: Population Chg 2020-44
   emp_chg_col: Employment Chg 2019-44
   pop_chg_start: 2020
   pop_chg_horizon: 2044
   emp_chg_start: 2019
   emp_chg_horizon: 2044

#----------------------------
# Pypyr steps
#----------------------------
steps:
#  - steps.get_elmer_data # this step can be turned off after initial data pull to save time
#  - steps.get_census_data # this step can be turned off after initial data pull to save time
 - steps.load_data