#----------------------------
# Census settings
#----------------------------
CensusKey: CENSUS_KEY # Environment variable name for Census API key

county_ids: [53033,53035,53053,53061]
state_id: 53

census_variables:
  total_population: # name variable will be changed to
    - P1_001N # variable code from census api
  housing_units:
    - H1_001N
  households:
    - H1_002N
  group_quarters:
    - P5_001N


#----------------------------
# Elmer settings
#----------------------------
# issues with pulling all columns from ElmerGeo, so columns need to be specified
ElmerGeo: # database
 - name: control_areas # name the table will be saved as in h5
   sql_table: CONTROL18_DASHBOARD # table in elmer
   columns: # columns to pull from elmer
    - control_id
    - control_na
    - county_id

 - name: blocks
   sql_table: BLOCK2020
   columns:
      - geoid20

# pull all columns for Elmer instead of specifying columns
Elmer: # database
 - name: ofm_estimates_2020 # name the table will be saved as in h5
   sql_table: ofm.v_estimates_2020 # table in elmer

 - name: ofm_estimates_2019
   sql_table: ofm.v_estimates_2019


#----------------------------
# Pypyr steps
#----------------------------
steps:
 - steps.get_elmer_data # this step can be turned off after initial data pull to save time
 - steps.get_census_data # this step can be turned off after initial data pull to save time